/*NewsCondensed_Bold.otf TODO DELETE THIS*/
/*PerfoC-Bold.otf TODO DELETE THIS*/
@font-face {
	font-family: "ewsCondensed_Bold";
	src: url('../fonts/ewsCondensed_Bold.otf');
}

* {
	font-family: "ewsCondensed_Bold", Arial, sans-serif;
	font-size: 16px;


}

a {
	text-decoration: none;
}
/*Не посещенная*/
a:link {

}
Посещенная
a:visited {

}
/*Не нажатая*/
a:hover {

}
/*Нажатая*/
a:active {

}

a.headline:link {
	color: black;
}
a.headline:visited {
	color: #181818FF;
}
a.headline:hover {
	color: #ff5037;
}
a.headline:active {

}

a.big_simple_button:link {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 2px;
    box-shadow: 0 0 0 0 white inset, 0 0 1px 2px black;
    color: black;
    width: 170px;
    height: 16px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: .15s ease-in-out;
}
a.big_simple_button:visited {
	color: #181818FF;
}
a.big_simple_button:hover{
  box-shadow: 0 0 50px 30px #ff5037 inset, 0 0 5px 4px #ff5037;
  color: white;
}
a.big_simple_button:active {}



div {
	height: 100%;
	background-image: url("../images/fon_1.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
	background size: cover;
}

ul {
	margin: 0; /* Обнуляем значение отступов */
    padding: 16px; /* Значение полей */
}
 
li {
	list-style-type: none;
	display: inline-block; /* расположить пункты горизонтально */
}

h1 {
	color: red;
}