/*NewsCondensed_Bold.otf TODO DELETE THIS*/
/*PerfoC-Bold.otf TODO DELETE THIS*/
@font-face {
	font-family: "ewsCondensed_Bold";
	src: url('../fonts/ewsCondensed_Bold.otf');
}

* {
	font-family: "ewsCondensed_Bold", Arial, sans-serif; 

}

a {
	text-decoration: none;
}
/*Не посещенная*/
a:link {

}
/*Посещенная*/
a:visited {

}
/*Не нажатая*/
a:hover {

}
/*Нажатая*/
a:active {

}

a.headline:link {
	color: #000000FF;
}
a.headline:visited {
	color: #FFFFFFFF;
}
a.headline:hover {
	color: #ff5037;
}
a:active {

}

h1 {
	color: red;
}

div {
	height: 100%;
	background-image: url("../images/fon_1.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
	background size: cover;
}

ul {
	margin: 0; /* Обнуляем значение отступов */
    padding: 16px; /* Значение полей */
}
 
li {
	list-style-type: none;
	display: inline-block; /* расположить пункты горизонтально */
}