@font-face {
	font-family: "ewsCondensed_Bold";
	src: url("../fonts/NewsCondensed_Bold.otf");
}

* {
	margin: 0;
	padding: 0;
	font-family: "ewsCondensed_Bold", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

:root {
	/*colors*/
	--main-black-color: black;
	--main-white-color: white;
	--main-orange-color: #ff6921;
	--main-link-visited-color: #181818FF;
	--main-link-hover-color: #221100FF;

	/*font*/
	--main-font-size: 20px;
	--headline-font-size: 40px;
}

a {
	text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#main_img_block,
#main_block {
	height: 900px;
}

#main_img_block {
	background-image: url("../images/fon_1.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: cover;
}

#header_block {
	position: absolute;
	top: -900px;
	left: 0px;
}

#logo {
	position: absolute;
	top: 20px;
	left: 50px;
}

ul {
	list-style-type: none;
}

#header_menu_lines {
	background: red;
}

#header_menu_lines li {
	display: inline-block;
	float: left;
}

#header_menu_lines li:not(:last-child) {
	margin-right: 20px;
}

#header_menu_lines li a {
	color: var(--main-white-color);
}

#header_menu_lines:after{
    content: '';
    clear: both;
    display: block;
}