@font-face {
	font-family: "ewsCondensed_Bold";
	src: url("../fonts/NewsCondensed_Bold.otf");
}

* {
	margin: 0;
	padding: 0;
	font-family: "ewsCondensed_Bold", Arial, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

:root {
	/*colors*/
	--main-black-color: black;
	--main-white-color: white;
	--main-orange-color: #ff6921;
	--main-link-visited-color: #181818FF;
	--main-link-hover-color: #221100FF;

	/*font*/
	--main-font-size: 20px;
	--headline-font-size: 40px;
}

a {
	text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#main_img_block,
#main_block {
	height: 900px;
}

#main_img_block {
	background-image: url("../images/fon_1.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: cover;
}

#header_menu {
  background: rgba(170, 0, 127, .5019607843137255);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}

#header_menu:after {
  content: '';
  display: table;
  clear: both;
}

#logo_img {display: inline-block;}

#header_menu_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

#header_menu_ul li {display: inline-block;}

#header_menu_ul a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: var(--main-white-color);
  transition:.3s linear;
}


/*.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}*/