@font-face {
	font-family: "ewsCondensed_Bold";
	src: url('../fonts/ewsCondensed_Bold.otf');
}
:root {
	/*colors*/
	--main-black-color: black;
	--main-white-color: white;
	--main-orange-color: #ff6921;
	--main-link-visited-color: #181818FF;
	--main-link-hover-color: #221100FF;

	/*font*/
	--main-font-size: 20px;
	--headline-font-size: 40px;
}
* {
	font-family: "ewsCondensed_Bold", Arial, sans-serif;
	font-size: var(--main-font-size:);
	text-align: center;
}

#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a {
	text-decoration: none;
	color: var(--main-black-color);
}
a:visited { color: var(--main-link-visited-color);}
a:hover { 	
	color: var(--main-link-hover-color);
	text-shadow: 0 0 1px var(--main-link-hover-color);
	transition: .20s ease-in-out; 
}

a.headline:link {
	font-size: var(--headline-font-size);
}

a.big_simple_button:link {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 15px 30px;
    margin: 10px 20px;
    border-radius: 2px;
    box-shadow: 0 0 0 0 var(--main-white-color) inset, 
                0 0 1px 2px var(--main-black-color);
    color: var(--main-black-color);
    width: 170px;
    height: var(--main-font-size);
    line-height: var(--main-font-size);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    transition: .15s ease-in-out;
}
a.big_simple_button:visited {
    color: var(--main-link-visited-color);
}
a.big_simple_button:hover{
  box-shadow: 0 0 50px 30px var(--main-orange-color) inset, 
              0 0 5px 4px var(--main-orange-color);
  color: white;
}

/*<.header_menu .footer_menu>*/
/*https://www.internet-technologies.ru/articles/sozdanie-menyu-na-css-rukovodstvo-dlya-novichkov.html*/
.header_menu,
.footer_menu {
	list-style-type: none;
	text-transform: uppercase;
}
.header_menu li,
.footer_menu li {
	float: left;
	margin-right: 20px;
}
/*https://inter-net.pro/css/effekt-podchjorkivaniya*/
.header_menu li a,
.footer_menu li a { 
    display: inline-block;
    color: var(--main-black-color);
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.header_menu li a:after,
.footer_menu li a:after { 
    display: block;
    content: "";
    background-color: var(--main-orange-color);
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.header_menu li a:hover:after,
.header_menu li a:focus:after,
.footer_menu li a:hover:after,
.footer_menu li a:focus:after {
    width: 100%;
}
/*</.header_menu .footer_menu>*/
