* {
	margin: 0;
	padding: 0;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#main_img_block {
	height: 900px;
	background-image: url("../images/fon_1.jpg");
	background-repeat: no-repeat;
	background-position: center 0px;
	background-size: cover;
}